body {
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(246, 251, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-image: url(https://img.freepik.com/premium-photo/wide-angle-shot-single-tree-growing-clouded-sky-sunset-surrounded-by-grass_181624-22807.jpg);
    background-size: cover;
    padding: 80px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.todo-input {
    display: flex;
    gap: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

button {
    padding: 8px 12px;
    border: none;
    background:rgb(246, 255, 124);
    color:black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background:red;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li {
    background: white;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

li .delete-btn {
    background: black;
    color: #39fcfc;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}
h1{
    color: rgb(96, 255, 96);

}